# Default Redpanda/Kafka connection
bootstrap.servers=46.225.20.89:9092
client.id=fhtw-kafka-client
acks=all
session.timeout.ms=10000
heartbeat.interval.ms=3000

# Uncomment these settings if your cluster requires SASL authentication.
# security.protocol=SASL_SSL
# sasl.mechanisms=PLAIN
# sasl.username=your-username
# sasl.password=your-password
